* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    width: 100vw;
}

/* --- HEADER --- */

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 10vh;
    width: 100%;

    background-color: gray;
}

/* --- CONTENT --- */

#content {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
}

#projectsContainer {
    height: 100%;
    width: 20vw;
    
    background-color: rgb(214, 145, 145);
}

.projectItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.projectItemsLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
}

#itemsContainer {
    height: 100%;
    width: 80vw;

    background-color: rgb(233, 214, 107);
}

/* --- FOOTER --- */

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 4vh;
    width: 100%;

    background-color: rgb(61, 150, 73);
}